<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>Product Info:</h1>
        <div style="padding: 20px; border: solid medium black; font-size: 20pt">
            @RenderBody()
        </div>
        
        <h2> Visit <a href="file:///C:/Users/Kedi/Desktop/Adam%20Freeman%20auth.%20Pro%20ASP.NET%20MVC%205.pdf">:Book:</a></h2>

    </div>
</body>
</html>
